
<div ng-controller = "fastReservationController">

    <div>
            <div>
                    <h3>All non-fast reservations</h3><br><br>
            </div>

            <div ng-hide="hideVRForm">
                <label>Select projection: </label>
                <select ng-model="currentProjection" 
                    ng-options="p.name + ' ' + p.viewingRoom.name + ' ' + p.viewingRoom.id for p in projections"
                    ng-change="showSeats()" ></select><br>

            </div>

            <table>
                <tr> <th>Row</th> <th>Collumn</th>  <th></th>  </tr>
                <tr ng-repeat="seat in seats">
                        <td>{{ seat.seatRow }}</td>
                        <td>{{ seat.seatColumn }}</td>
                        <td><button ng-click="enterDiscount(seat)">Add to fast</button>        
                </tr>   
            </table>

            <form ng-hide="hideDiscountForm" ng-submit="addToFast()">
                <label>Enter discout for selected ticket (%): </label>
                <input type="text" ng-model="newDiscount"><br>
                <button type="submit">Make new fast reservation</button>
            </form>
            
    </div>
    
    <div>
        <div>
                <h3>Current fast reservations</h3><br><br>
        </div>

        <div  ng-repeat="ft in fastTickets" style="float: left;">
                <button style="margin-right: 10px">{{ft.id}}</button>

        </div>
    </div>




</div>
    
