
<div ng-controller = "fastReservationController">

    <div style="text-align: center">
            <div>
                    <h3 style="color:blueviolet">All non-fast reservations</h3><br><br>
            </div>

            <div ng-hide="hideVRForm">
                <h4 style="color:darkblue">Select projection: </h4>
                <select ng-model="currentProjection" 
                    ng-options="p.name + ' ' + p.viewingRoom.name + ' ' + p.viewingRoom.id for p in projections"
                    ng-change="showSeats()" ></select><br>

            </div>

            <table border="1" class="table table-hover table-dark" ng-show="!isEmpty(seats)" 
            style=" margin-left: 120px; width: 80%;">
                <tr class="bg-primary"> <th> Seat Row</th> <th class="bg-info"> Seat Collumn</th>  <th></th>  </tr>
                <tr class="bg-primary" ng-repeat="seat in seats">
                        <td>{{ seat.seatRow }}</td>
                        <td class="bg-info">{{ seat.seatColumn }}</td>
                        <td><button ng-click="enterDiscount(seat)">Make fast reservation</button>        
                </tr>   
            </table>

            <form ng-hide="hideDiscountForm" ng-submit="addToFast()">
                <h5 style="color:darkblue">Enter discout for selected ticket (%): </h5>
                <input type="text" ng-model="newDiscount"><br>
                <button type="submit">Make new fast reservation</button>
            </form>
            
    </div>
    
    <div>
        <div>
                <h3 style="color:darkblue">Current fast reservations</h3><br><br>
        </div>

        <div  ng-repeat="ft in fastTickets" style="float: left;">
                
                <span class="card text-white bg-primary mb-3 lineSection">
                        <div style="text-align: center" class="card-header">{{projectionIds[ft.id].name }}</div>
                        <div style="text-align: center" class="card-body">
                                <!-- <img class="rounded imgCell" ng-src="{{prop.image}}" alt="Image" /> -->
                              
                                <p style="margin:auto">Viewing Room: {{projectionIds[ft.id].viewingRoom.name}}</p>
                                <p class="card-text">Original price: {{projectionIds[ft.id].price}} din</p>
                                <p> Discount: {{ft.discount}}%</p>
                                <!-- <button  class="btn btn-info lineSectionButton">
                                Make reservation</button> -->
                        </div>
                </span>
                <!-- <button style="margin-right: 10px">{{ft.id}}</button> -->

        </div>
    </div>




</div>
    
