<div ng-controller="friendsController">
    <span>Search: </span><input type="text">
    <div class="friends">
        <p>Friends</p>
        <table border="1">
            <tr>
                <td>Name</td>
                <td>Last Name</td>
                <td>E-mail</td>
                <td>Phone number</td>
                <td></td>
            </tr>
            <tr ng-repeat='friend in friends'>
                <td>{{friend.name}}</td>
                <td>{{friend.surname}}</td>
                <td>{{friend.email}}</td>
                <td>{{friend.telephone}}</td>
                <td><button ng-click="deleteFriend(friend.id)">Delete friend</button></td>
            </tr>
        </table>
    </div>
    <div class="nonFriends">
        <p>Add friends</p>
        <table border="1">
            <tr>
                <td>Name</td>
                <td>Last Name</td>
                <td></td>
            </tr>
            <tr ng-repeat='nonFriend in nonFriends'>
                <td>{{nonFriend.name}}</td>
                <td>{{nonFriend.surname}}</td>
                <td><button ng-click="addFriend(nonFriend.id)">Add friend</button></td>
            </tr>
        </table>
    </div>
</div>