<div ng-controller="loginController">
    <div class="form" align="center">
        <input type="text" placeholder="Username" ng-model="username" id="username"><br>
        <input type="password" placeholder="Password" ng-model="password" id="password"><br>
        <p style="color:red" ng-show="error">Username or password missing!</p>
        <p style="color: red" ng-show="!valid">Username or password is not correct!</p>
        <button class="btn btn-success" ng-click="tryLogin()">Log In</button>
    </div>
</div>