<div style="margin-left: 20px" ng-controller = "reportController" >

    <h1>Facility report</h1> 

    

    <h2 ng-show="projections.length ==0">There are no projectoins in this facility</h2>

        <p>Average score for facility: {{facilityScore}}</p>
        <p>Number of projections: {{projections.length}}</p>
    
        <table border="1" style="margin-top: 20px; margin-left: 20px">
            <tbody>
                <tr>
                    <td>Name of projection</td>
                    <td>Date of projection</td>
                    <td>Price</td>
                    <td>Average score</td>
                </tr>
                <tr ng-repeat="projection in projections">
                    <td>{{projection.name}}</td>
                    <td>{{projection.date}}</td>
                    <td>{{projection.price}}</td>
                    <td>{{avgScores[projection.id]}}</td>
                </tr>
            </tbody>
        </table>

        <div  style="margin-top: 15px">

            <div style="float: left;">

                <button ng-show="showWeeklyButton" ng-click="showWeeklyChart()">Show weekly chart</button>
                <div  ng-show="showWeekly">
                    <h3>Weekly visits</h3>
                    <div>
                        <div id="chartDivWeekly" style="margin-bottom: 20px"></div>
                        <button style="margin: 5px" 
                        ng-click="hideWeeklyChart()">Hide chart</button>
                    </div>

                </div>

            </div>

            <div>
                <button ng-show="showMonthlyButton" ng-click="showMohthlyChart()">Show monthly chart</button>
                <div ng-show="showMonthly" >
                    <h3>Monthly visits</h3>
                    <div>
                        <div id="chartDivMonthly"></div>
                        <button style="margin: 5px"
                        ng-click="hideMohthlyChart()">Hide chart</button>
                    </div>
                    
                </div>
            </div>


        </div>

        
        <div style="margin-top: 50px" >

            <h3>Earnings</h3>

            <div class="form-group" style="display: inline-block; margin-left: 20px">
                <label style="display: block">Select first day</label>
                <input type="date" ng-model="date1" class="form-control" style="width: 200px;"/>
            </div>
                
        
                
            <div class="form-group" style="display: inline-block; margin-left: 20px">
                <label style="display: block">Select last day</label>
                <input type="date" ng-model="date2" class="form-control" style="width: 200px;"/>
            </div>

            <button ng-show="showEarningsButton" ng-click="getPricePerPeriod()">Show price report</button>
    
            <div ng-show = "Earnings">
                <p></p>Earnings between {{date1}} and {{date2}}</p>
                <p>{{totalEarnings}}</p>
            </div>
           

        </div>


</div>
