<h1>GET YOUR TICKETS NOW!!!</h1>

<div ng-controller="ticketReservationsController">


    <h1></h1>
    <p> Number of seats: {{numberOfSeats}}</p>
    <div>
        <keruc-seatpicker data-data="seatsData" data-selected-nodes="selectedNodes" data-on-selected="nodeSelected($node)" data-on-deselected="nodeDeselected($node)" data-on-disallowed-selected="nodeDisallowedSelected($node)" class="ng-isolate-scope">
            <canvas width="500" height="500" id="canvasId"></canvas>
        </keruc-seatpicker>
    </div>

    <button ng-click="makeReservation()">Reserve</button>



</div>