
body {
    background: url("https://previews.123rf.com/images/konurk/konurk1111/konurk111100004/11278419-cartoon-illustration-of-counting-hands-from-1-to-5.jpg");
    width:100%; 
    height:100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
}

