<div ng-controller="adsController">
    
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link headers" href="#props" >Props
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle headers" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ads</a>
                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                              <a class="dropdown-item subheader" href="#ads_form">Post an Ad</a>
                              <a class="dropdown-item subheader" href="#ads">View Ads</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" placeholder="Search ads" type="search" ng-model="search">
                    </form>
                </div>
            </nav>

    <h2 ng-show="ads.length ==0">There are no ads records</h2>
    <button ng-click="refresh()">Refresh ads</button> <br/>
    <table class="redTable" ng-show="ads.length >0">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Deadline</th>
                <th>Options</th>
            </tr>
        </thead>

        <tbody>
            
            <tr ng-repeat="ad in ads | filter:{name:search}" 
            class="cellInputs">
                <td class="imgContainer">
                    <img class="imgCell" ng-src="{{ad.image}}" alt="Image"/></td>
                <td>{{ad.name }}</td>
                <td>{{ad.description }}</td>
                <td>{{ad.deadline | date: "medium"}}</td>
                <td><button class="cellButton" ng-click="showDetails(ad.id)">
                    Show details</button></td>
            </tr>
    
        </tbody>
    </table>

    <h2 ng-show="ads.length ==0">There are no active ads records</h2>
    <div ng-show="ads.length >0">
        <div ng-repeat="ad in ads | filter:{name:search}" class="w-25 p-3 lineSection">
            <span class="card text-white bg-info mb-3 lineSection">
                <div class="card-header">{{ad.name }}</div>
                <div class="card-body">
                    <img class="rounded imgCell" ng-src="{{prop.image}}" alt="Image" />
                    <br/>
                    <p class="card-text">{{ad.description }}</p>
                    <button ng-click="showDetails(ad.id)" class="btn btn-primary lineSectionButton">
                        Show details</button>
                </div>
            </span>
            <br ng-if="!(($index + 1) % 3)" />
        </div>
    </div>

</div>