<div ng-controller="adsController">
    
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link headers" href="#props" >Props
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link headers">Ads</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" placeholder="Search ads" type="search" ng-model="search">
                    </form>
                </div>
            </nav>


    <form id="adForm" name="adForm" novalidate="novalidate">
        <div class="imageContainer">
            <p><h2>Add ads</h2></p>
            <img class="avatar" id="image" src="img/ads/no-image-found.jpg" alt="Image"><br/>
            <input type="file" id="imageFile" name="imageFile" fileread="imageFile" required><br/>
            
            <label>Name</label>
            <input ng-model="name" type="text" name="name" required="required"> <br/>

            <label>Description: </label>
            <input ng-model="description" type="text" name="description" required="required"> <br/>
            
            <label>Deadline: </label>
            <input ng-model="deadline" type="datetime-local" name="deadline" required="required"> <br/>
                    

            <button ng-click="addAd()">Add</button>
        </div>
    </form>

    <h2 ng-show="ads.length ==0">There are no ads records</h2>
    <button ng-click="refresh()">Refresh ads</button> <br/>
    <table class="redTable" ng-show="ads.length >0">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Deadline</th>
                <th>Options</th>
            </tr>
        </thead>

        <tbody>
            
            <tr ng-repeat="ad in ads | filter:{name:search}" 
            class="cellInputs">
                <td class="imgContainer">
                    <img class="imgCell" ng-src="{{ad.image}}" alt="Image"/></td>
                <td>{{ad.name }}</td>
                <td>{{ad.description }}</td>
                <td>{{ad.deadline | date: "medium"}}</td>
                <td><button class="cellButton" ng-click="showDetails(ad.id)">
                    Show details</button></td>
            </tr>
    
        </tbody>
    </table>
</div>