<h1>Facilities</h1>

<div ng-controller = "facilitiesController">
    <h2 ng-show="props.length ==0">There are no thematic props records</h2>

    <p>Facilities</p>
    <div ng-repeat="fac in facilities">

        <h1></h1>
        <p>    Id: {{fac.id}}</p>
        <p>    Name: {{fac.name}}</p>
        <p>    Address: {{fac.address}}</p>
        <p>    Description: {{fac.description}}</p>
        <p>    Number of viewing rooms: {{fac.viewingRooms.length}}</p><br>
        <a ng-href = "#facilityID">    Repertoar</a>

    </div>

</div>