<h1>Props</h1>

<div ng-controller="fanZoneAdminController">
    <label>Search:</label>
    <input class="search" type="search" ng-model="search">
    <br/> <br/> <br/>
    <h2 ng-show="props.length ==0">There are no thematic props records</h2>
    <table class="redTable" ng-show="props.length >0">
        <thead>
            <tr>
                <th>Image</th>
                <th>Description</th>
                <th>Location</th>
                <th colspan="2">Options</th>
            </tr>
        </thead>

        <tbody>
            
            <tr ng-repeat="prop in props | filter:{description:search}" 
            class="cellInputs">
                <td class="imgContainer">
                    <img class="imgCell" ng-src="{{prop.image}}" alt="Image"/></td>
                <td>{{prop.description }}</td>
                <td>{{prop.location}}</td>
                <td><button class="cellButton" ng-click="enable(prop.id)">Edit</button></td>
                <td><button class="cellButton" ng-click="delete(prop.id)">Delete</button></td>
            </tr>
    
        </tbody>
    </table>
    <br/><br/>

    <form ng-show="enableEdit" name="changeForm" id="changeFomr" novalidate="novalidate" 
            accept-charset="UTF-8">
        <div class="imageContainer">
            <p><h2>Edit props</h2></p>
            <img class="avatar" id="imageChange" src="img/props/no-image-found.jpg" alt="Image"><br/>
		    <input type="file" id="imageChangeFile" name="imageChangeFile" filechange="imageFile" required><br/>
            
            <label>Description: </label>
            <input ng-model="descriptionChange" type="text" name="description" required="required"> <br/>

            <label>Box office location: </label>
            <select ng-model="selectedFacilityChange" ng-options="f.name for f in facilities" required>
            </select>
            <br/>
            <button ng-click="editProps()">Accept</button>
            <button ng-click="cancel()">Cancel</button>
        </div>
    
    </form>

    <form name="propsForm" id="propsForm" ng-submit="addProps()"  method="POST" enctype="multipart/form-data" 
            accept-charset="UTF-8" novalidate="novalidate">
        <div class="imageContainer">
            <p><h2>Add props</h2></p>
            <img class="avatar" id="image" src="img/props/no-image-found.jpg" alt="Image"><br/>
		    <input type="file" id="imageFile" name="imageFile" fileread="imageFile" required><br/>
            
            <label>Description: </label>
            <input ng-model="description" type="text" name="description" required="required"> <br/>

            <label>Box office location: </label>
            <select ng-model="selectedFacility" ng-options="f.name for f in facilities" required>
            </select>
            <br/>
            <button type="submit">Add</button>
        </div>
    </form>

    <h2 ng-show="ads.length ==0">There are no ads records</h2>
    <button ng-click="refresh()">Refresh ads</button> <br/>
    <table class="redTable" ng-show="ads.length >0">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Deadline</th>
                <th colspan="2">Options</th>
            </tr>
        </thead>

        <tbody>
            
            <tr ng-repeat="ad in ads" 
            class="cellInputs">
                <td class="imgContainer">
                    <img class="imgCell" ng-src="{{ad.image}}" alt="Image"/></td>
                <td>{{ad.name }}</td>
                <td>{{ad.description }}</td>
                <td>{{ad.deadline | date: "medium"}}</td>
                <td><button class="cellButton" ng-click="acceptAd(ad.id)">
                    Accept</button></td>
                <td><button class="cellButton" ng-click="reject(ad.id)">
                    Reject</button></td>
            </tr>
    
        </tbody>
    </table>
</div>