<h1>Props</h1>

<div ng-controller="fanZoneAdminController">
    <label>Search:</label>
    <input class="search" type="search" ng-model="search">
    <br/> <br/> <br/>
    <h2 ng-show="props.length ==0">There are no thematic props records</h2>
    <table class="redTable" ng-show="props.length >0">
        <thead>
            <tr>
                <th>Image</th>
                <th>Description</th>
                <th>Location</th>
                <th colspan="2">Options</th>
            </tr>
        </thead>

        <tbody>
            
            <tr ng-repeat="prop in props | filter:{description:search}" 
            class="cellInputs">
                <td class="imgContainer">
                    <img class="imgCell" ng-src="{{prop.image}}" alt="Image"/></td>
                <td>{{prop.description }}</td>
                <td>{{prop.location}}</td>
                <td><button class="cellButton" ng-click="">Edit</button></td>
                <td><button class="cellButton" ng-click="">Delete</button></td>
            </tr>
    
        </tbody>
    </table>
    <br/><br/>

    <form addProps novalidate="novalidate">
        <label>Avatar: </label>
        <input type="image" required="required"> <br/>

        <label>Description: </label>
        <input type="text" required="required"> <br/>

        <label>Location: </label>
        
    </form>

</div>