<div ng-controller="homeController">
    <h1>Home page</h1>
    <div>
        <ul class="nav nav-tabs">
            <li ng-show="propsVis" class="nav-item">
                <a class="nav-link" href="#props">Fan Zone</a>
            </li>
            <li ng-show="propsAdminVis" class="nav-item">
                <a class="nav-link" href="#fan_zone_admin">Fan Zone</a>
            </li>
            <li ng-show="facilitiesVis" class="nav-item">
                <a class="nav-link" href="#facilities">Facilities</a>
            </li>
            <li ng-show="friendsVis" class="nav-item">
                <a class="nav-link" href="#friends">Friends</a>
            </li>
            <li ng-show="profileVis" class="nav-item">
                <a class="nav-link" href="#profile">Profile</a>
            </li>
            <li ng-show="reservationsVis" class="nav-item">
                <a class="nav-link" href="#reservations">My tickets</a>
            </li>
            <li ng-show="usersProjectionsVis" class="nav-item">
                <a class="nav-link" href="#usersProjections/1">My projections</a>
            </li>
            <li ng-show="viewingRoomsVis" class="nav-item">
                <a class="nav-link" href="#viewingRooms">Viewing room</a>
            </li>
            <li ng-show="resPropsVis" class="nav-item">
                <a class="nav-link">Reserved props</a>
            </li>
            <li ng-show="systemAdminVis" class="nav-item">
                <a class="nav-link" href="#sys">System administration</a>
            </li>
            <li ng-show="LogInVis" class="nav-item">
                <a class="nav-link" href="#login">Log in</a>
            </li>
            <li ng-show="SingUpVis" class="nav-item">
                <a class="nav-link" href="#signup">Sing up</a>
            </li>
        </ul>
    </div>
    <div class="userData">
        <table>
            <tr>
                <td>Name: </td>
                <td>{{logged.name}}</td>
            </tr>
            <tr>
                <td>Last name: </td>
                <td>{{logged.surname}}</td>
            </tr>
            <tr>
                <td>E-mail: </td>
                <td>{{logged.email}}</td>
            </tr>
            <tr>
                <td>Phone number: </td>
                <td>{{logged.telephone}}</td>
            </tr>
        </table>
    </div><br>
    <div ng-show="visitsVis" class="visits">
        <p>VISITS</p>
        <table border="1">
            <tbody>
                <tr>
                </tr>
                <tr>
                    <td>Facility</td>
                    <td>City</td>
                </tr>
                <tr ng-repeat="visit in visits ">
                    <td>{{visit.facility}}</td>
                    <td>{{visit.city}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button ng-show="LogOutVis"  ng-click="redirect('/')" class="logout">Log Out</button>
</div>