<div ng-controller="profileController">

    <form id="profileForm" name="profileForm" novalidate="novalidate">
        <label>Name: </label> <input type="text" ng-model="name" name="name" required><br/>
        <label>Surname: </label> <input type="text" ng-model="surname" name="surname" required><br/>
        <label>E-mail: </label> <input type="email" ng-model="email" name="email" required><br/>
        <label>Telephone: </label> <input type="tel" ng-model="telephone" name="telephone" required><br/>
        <label>Address: </label> <input type="text" ng-model="address" name="address" required><br/>
    </form>
</div>