<div ng-controller="reservationsListController">

    <p>Reservations</p>
    <br/>
    <span>Search: </span><input class="search" type="text">
    <table border="1">
        <tbody>
            <tr>
                <td>Facility name</td>
                <td>Projection</td>
                <td>Date</td>
            </tr>
            <tr ng-repeat="reservation in reservations">
                <td>{{reservation.seatStatus}}</td>
                <td>{{reservation.seatStatus}}</td>
                <td>{{reservation.seatStatus}}</td>
            </tr>
        </tbody>
    </table>
</div>