<div ng-controller="reservationsListController">

    <p>Reservations</p>
    <br/>
    <span>Search: </span><input class="search" type="text">
    <table border="1">
        <tbody>
            <tr>
                <td>Ticket</td>
                <td>Seat Row</td>
                <td>Seat Column</td>
                <td>Segment</td>
                <td></td>
            </tr>
            <tr ng-repeat="reservation in reservations">
                <td>{{reservation.id}}</td>
                <td>{{reservation.seat.seatRow}}</td>
                <td>{{reservation.seat.seatColumn}}</td>
                <td>{{reservation.seat.segment}}</td>
                <td><button ng-click="delete(reservation.id)">Delete reservation</button></td>
            </tr>
        </tbody>
    </table>
</div>