<div ng-controller="signupController">
    <form>
        <span>Username:</span><input type="text" ng-model="username" id="username"><br>
        <span>Password:</span><input type="password" ng-model="password" id="password"><br>
        <span>Avatar:</span><input type="text" ng-model="avatar" id="avatar"><br>
        <span>Repeat new password:</span><input type="password" ng-model="rep_password" id="rep_password"><br>
        <span>E-mail:</span><input type="text" ng-model="email" id="email"><br>
        <span>Name:</span><input type="text" ng-model="name" id="name"><br>
        <span>Surname:</span><input type="text" ng-model="surname" id="surname"><br>
        <span>Address:</span><input type="text" ng-model="address" id="address"><br>
        <span>Phone number:</span><input type="text" ng-model="phone_num" id="phone_num"><br>
        <p style="color: red" ng-show="valid == 1">Something missing!</p>
        <p style="color:red" ng-show="valid == 2">Passwords are not the same!</p>
        <p style="color: red" ng-show="!registered">Unable to register user with inserted data! Try again</p>
        <button ng-click="tryRegister()">Sign Up</button>
    </form>
</div>