<div ng-controller="signupController">
    <div align="center" class="signupForm">
        <input placeholder="Username" type="text" ng-model="username" class="input" id="username"><br>
        <input placeholder="Password" type="password" ng-model="password" class="input" id="password"><br>
        <input placeholder="Repeat password" type="password" ng-model="rep_password" class="input" id="rep_password"><br>
        <input placeholder="Avatar" type="text" ng-model="avatar" class="input" id="avatar"><br>
        <input placeholder="E-mail" type="text" ng-model="email" class="input" id="email"><br>
        <input placeholder="Name" type="text" ng-model="name" class="input" id="name"><br>
        <input placeholder="Last name" type="text" ng-model="surname" class="input" id="surname"><br>
        <input placeholder="Address" type="text" ng-model="address" class="input" id="address"><br>
        <input placeholder="Phone number" type="text" ng-model="phone_num" class="input" id="phone_num"><br>
        <button class="btn btn-primary my-2 my-sm-0" ng-click="tryRegister()">Sign Up</button>
    </div>
</div>