<div ng-controller="signupController">
    <span>Username:</span><input type="text" id="username"><br>
    <span>Password:</span><input type="password" id="password"><br>
    <span>Repeat new password:</span><input type="password" id="rep_password"><br>
    <span>Name:</span><input type="text" id="name"><br>
    <span>Surname:</span><input type="text" id="surname"><br>
    <span>Address:</span><input type="text" id="address"><br>
    <span>Phone number:</span><input type="text" id="phone_num"><br>
    <p style="color: red" ng-show="valid == 1">Something missing!</p>
    <p style="color:red" ng-show="valid == 2">Passwords are not the same!</p>
    <button ng-click="redirect('/')">Sign Up</button>
</div>