<div ng-controller="sysController">
        <h2 ng-show="categories.length ==0">Error no user categories available</h2>
            <form name="userCategory">
            <table class="redTable" ng-show="categories.length >0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Points</th>
                        <th>Discount</th>
                    </tr>
                </thead>
        
                <tbody>
                    
                            <tr ng-repeat="category in categories" 
                            class="cellInputs">
                                <td>{{category.name}}</td>
                                <td><input id="category.id" type="number" name="points" min="0"  placeholder="Integer" 
                                    ng-model="category.points" ng-change="changePoints(category.id)"/></td>
                                <td><input  type="number" ng-change="changeDiscount(category.id)" name="discount" 
                                    step="0.01" min="0" max="100" 
                                    ng-model="category.discount" placeholder="Decimal"></td>
                            </tr>
                    
                </tbody>
            </table>
                <input type="button" value="Save" ng-click="save">
            </form>
            <span ng-show="error">{{errorMessage}} </span>
</div>