<div ng-controller="usersProjectionsController">

    <table border="1">
        <tbody>
        <tr>
            <td>Projection name</td>
            <td>Viewing room</td>
            <td>Date</td>
        </tr>
        <tr ng-repeat="proj in projections">
            <td>{{proj.name}}</td>
            <td>{{proj.viewingRoom.id}}</td>
            <td>{{proj.date}}</td>
            <td><button ng-click="showRateForm(proj)">Rate</button></td>
        </tr>
        </tbody>
    </table>


    <form ng-hide="hideRateForm" ng-submit="rateProjection()">
        <label>Enter your rate (1-5): </label>
        <input type="text" ng-model="newScore"><br>
        <label>Describe your experience: </label>
        <input type="text" ng-model="newScoreDescp"><br>
        <button type="submit">Send your rate</button>
    </form>


</div>